POSTGRES_DB=pulsehub_users
POSTGRES_USER=pulsehub
POSTGRES_PASSWORD=pulsehub
POSTGRES_PORT=5433

SERVER_PORT=8081
DB_URL=jdbc:postgresql://localhost:5433/pulsehub_users
DB_USERNAME=pulsehub
DB_PASSWORD=pulsehub
JPA_DDL_AUTO=update

AUTH_SERVER_PORT=8082
AUTH_DB_URL=jdbc:postgresql://localhost:5433/pulsehub_auth
AUTH_DB_USERNAME=pulsehub
AUTH_DB_PASSWORD=pulsehub
AUTH_JPA_DDL_AUTO=update
JWT_SECRET=change-this-dev-secret-before-real-use
JWT_EXPIRATION_SECONDS=3600
